.important-paragraph{
  padding:10px;
  margin: 20px;
  border: solid 2px #ff8249;
  background: #ffb897;
}


/* Slider stuff below here */
.irs-slider{
  border:none!important;
  background: #56b1ff!important;
}

.irs-line{
  background: #EEE!important;
  border:none!important;
}